body {
  margin: 0;
}

img {
  display: block;
}

#deviceList::-webkit-scrollbar, #deviceDesc::-webkit-scrollbar { 
  display: none; 
}

#deviceList {
  height: 100vh;
  width: 405px;
  float: left;
  overflow: scroll;
  -ms-overflow-style: none;
}

#deviceListWrap {
  width: 380px;
  height: fit-content;
  padding-top: 60px;
  background-image: linear-gradient(180deg, #AD6BFF 0%, #74BCF7 100%)
}

.itemCont {
  width: 300px;
  margin: 50px 40px;
  position: relative;
  cursor: pointer;
}

.itemCont.active {
  pointer-events: none;
}

.nameCont {
  width: 200px;
  height: 40px;
  padding: 40px 0;
  margin-left: 100px;
  background: #FEFFFE;
  box-shadow: 0 21px 21px 0 rgba(0,0,0,0.15)
}

.active .nameCont {
  margin: 0;
  width: 230px;
  height: 40px;
  padding: 45px 0;
}

.nameCont span {
  padding-left: 50px;
}

.active .nameCont span {
  padding-left: 40px;
}

span.deviceName {
  font-family: Montserrat-Bold;
  font-size: 15px;
  text-transform: uppercase;
}

span.devicePlace {
  font-family: Montserrat-Regular;
  font-size: 11px;
  line-height: 25px;
  color: #666;
}

.imageCont {
  position: absolute;
  bottom: 15px;
}

.active .imageCont {
  right: -50px;
  bottom: 15px;
}

.imageCont img {
  width: 120px;
  height: 120px;
  background: #d8bfd8;
}

.active .imageCont img {
  width: 140px;
  height: 140px; 
}

.arrowCont {
  position: absolute;
  bottom: -5px;
  right: -65px;
  padding: 8px;
  background-image: linear-gradient(-135deg, #DEFFC9 0%, #A3F8FF 100%);
  box-shadow: 0 25px 25px 0 rgba(0,0,0,0.15);
  display: none;
}

.active .arrowCont {
  display: block;
}

#deviceDesc {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
}

#deviceDescWrap {
  padding: 20px 60px;
}

#titleWrap, #nameWrap {
  padding: 30px 0;
  overflow: hidden;
}

.clsTitle {
  float: left;
  font-family: Montserrat-ExtraBold;
  text-transform: uppercase;
}

#devicesTitle {
  font-size: 48px;
  letter-spacing: 8px;
}

#plusCont {
  float: right;
  padding: 13px;
  cursor: pointer;
  background-image: linear-gradient(-135deg, #DEFFC9 0%, #A3F8FF 100%);
}

#deviceName {
  font-size: 32px;
  letter-spacing: 5px;
}

#switchCont {
  float: right;
  padding: 5px;
  background: #000000;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.12);
  border-radius: 60px;
  width: 32px;
  height: 14px;
  margin: 7px 0;
  cursor: pointer;
}

#switchButton {
  height: 15px;
  width: 15px;
  margin: auto 0;
  background: #FFFFFF;
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.12);
  border-radius: 60px;
}

.active #switchButton {
  float: right;
} 

.sectionWrap {
  margin: 30px 0;
  border-top: 1px dotted #AC6CFF;
  position: relative;
  min-height: 100px;
}

.disabled .sectionWrap {
  opacity: 0.5;
  pointer-events: none;
}
  
.sectionTitle {
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #AC6CFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: #fff;
  padding: 0 10px;
  position: absolute;
  top: -10px;
}

.sectionCont.colors {
  margin: 50px 5px;
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #2196F3;
  box-shadow: 0 27px 27px 0 rgba(0,0,0,0.15);
}

.checkmark.clicked {
  height: 40px;
  width: 40px;
  top: -5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark.clicked:after {
  display: block;
}

.container .checkmark:after {
  left: 15px;
  top: 10px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sectionCont {
  margin: 40px 0;
}

.modeCont {
  height: 50px;
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.modeCont.selected {
  background-image: linear-gradient(-270deg, #AD6BFF 0%, #74BCF7 100%);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.12);
  color: #FFFFFF;
}

.modeCont span {
  float: left;
  padding: 15px 0;
}

.modeCont img, .arrowCont img {
  width: 24px;
  height: 24px;
}

span.modeImg { width: 10%; margin-left: 10px; }

span.modeName { width: 50%; }

span.modePower { width: 30%; opacity: 0.8; }

span.modeSelect { width: 8%; }

img.black, .selected img.white {
  display: block;
}

img.white, .selected img.black {
  display: none;
}

@media screen and (max-width: 1024px) {
  #deviceList {
    width: 245px;
  }

  #deviceListWrap {
    width: 210px;
    padding-top: 90px;
  }

  .itemCont {
    width: 120px;
    height: 120px;
    margin-top: 60px;
  }

  .nameCont {
    width: 110px;
    height: 20px;
    padding: 100px 0 0 10px;
    margin-left: 15px;
  }

   .active .nameCont {
    display: none;
  }
  
  span.deviceName {
    position: absolute;
    font-size: 11px;
    padding-left: 0;
  }
  
  span.devicePlace {
    display: none;
  }

  .imageCont {
    bottom: 30px;
  }

  .active .imageCont {
    right: -65px;
  }

  .arrowCont {
    right: -80px;
  }

  #deviceDescWrap {
    padding: 20px 30px;
  }

}

@media screen and (max-width: 767px) {
  #deviceList {
    width: 185px;
    height: auto;
  }

  #deviceListWrap {
    width: 150px;
    padding-top: 120px;
  }

  .itemCont {
    margin: 40px 20px;
  }

  .nameCont {
    width: 90px;
    padding: 90px 0 0 10px;
    margin: auto;
  }

  .imageCont {
    bottom: 40px;
  }

  .active .imageCont {
    right: -25px;
  }

  .imageCont img {
    width: 100px;
    height: 100px;
  }

  .active .imageCont img {
    width: 120px;
    height: 120px;
  }

  .arrowCont {
    right: -40px;
  }

  #deviceDesc {
    height: auto;
  }

  #deviceDescWrap {
    padding: 10px;
  }

  #titleWrap {
    padding: 10px 0 60px;
  }

  #devicesTitle {
    font-size: 40px;
    letter-spacing: 7px;
    position: absolute;
    top: 70px;
    left: 70px;
  }

  #plusCont {
    padding: 0;
    background: none;
  }

  #nameWrap {
    padding: 45px 0 35px; 
  }

  #deviceName {
    font-size: 25px;
    width: 68%;
    padding-top: 25px;
    letter-spacing: 3px;
  }

  #switchCont {
    padding: 4px;
    width: 28px;
    height: 12px;
  }

  #switchButton {
    height: 13px;
    width: 13px;
  }

  .sectionWrap {
    margin-right: 10px;
  }

  .sectionTitle {
    font-size: 11px;
    top: -7px;
  }

  .sectionCont.colors {
    margin: 40px 5px 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .cbWrap {
    width: 33%;
    height: 60px;
  }

  .checkmark.clicked {
    height: 35px;
    width: 35px;
  }

  .container .checkmark:after {
    left: 13px;
    top: 7px;
  }

  .modeCont {
    font-size: 14px;
  }

  span.modeImg { 
    width: 25%;
  }

  span.modeName {
    width: 50%;
  }

  span.modePower {
    display: none;
  }

  .indensity {
    text-align: center;
  }

}