#deviceWrapper {
  max-width: 1024px;
  margin: auto;
}

img {
  display: block;
}

#deviceList::-webkit-scrollbar, #deviceDesc::-webkit-scrollbar { display: none; }

#deviceList {
  height: 100%;
  width: 30%;
  float: left;
  overflow: scroll;
}

#deviceListWrap {
  width: 90%;
  padding-top: 12%;
  /* background-image: linear-gradient(180deg, rgba(173,107,255,0.7) 0%, rgba(116,188,247,0.7) 100%); */
  background-image: linear-gradient(180deg, #AD6BFF 0%, #74BCF7 100%)
}

.itemCont {
  width: 75%;
  height: 120px;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
}

.itemCont.active {
  pointer-events: none;
}

.nameCont {
  width: 70%;
  height: 50px;
  padding: 20px 0;
  margin-left: 70px;
  background: #FEFFFE;
  box-shadow: 0 21px 21px 0 rgba(0,0,0,0.15)
}

.active .nameCont {
  margin: 0;
  width: 90%;
}

.nameCont span {
  padding-left: 25%;
}

.active .nameCont span {
  padding-left: 15%;
}

span.deviceName {
  font-family: Montserrat-Bold;
  font-size: 12px;
  text-transform: uppercase;
}

span.devicePlace {
  font-family: Montserrat-Regular;
  font-size: 10px;
  line-height: 20px;
  color: #666;
}

.imageCont {
  position: absolute;
  top: -10px;
}

.active .imageCont {
  right: -40px;
  top: -25px;
}

.imageCont img {
  width: 90px;
  height: 90px;
  background: #d8bfd8;
}

.active .imageCont img {
  width: 100px;
  height: 100px; 
}

.arrowCont {
  position: absolute;
  bottom: 30px;
  right: -50px;
  padding: 3px;
  background-image: linear-gradient(-135deg, #DEFFC9 0%, #A3F8FF 100%);
  box-shadow: 0 25px 25px 0 rgba(0,0,0,0.15);
  display: none;
}

.active .arrowCont {
  display: block;
}

#deviceDesc {
  height: 100%;
  overflow: scroll;
}

#deviceDescWrap {
  padding: 3%;
}

#titleWrap {
  overflow: hidden;
}

.clsTitle {
  float: left;
  font-family: Montserrat-Bold;
  text-transform: uppercase;
}

#devicesTitle {
  font-size: 30px;
  letter-spacing: 3px;
}

#plusCont {
  float: right;
  padding: 5px;
  cursor: pointer;
  background-image: linear-gradient(-135deg, #DEFFC9 0%, #A3F8FF 100%);
}

#nameWrap {
  padding: 20px 0;
  overflow: hidden;
}

#deviceName {
  font-size: 20px;
  letter-spacing: 1px;
}

#switchCont {
  float: right;
  padding: 5px;
  background: #000000;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.15);
  border-radius: 60px;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

#switchButton {
  height: 15px;
  width: 15px;
  margin: auto 0;
  background: #FFFFFF;
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.10);
  border-radius: 60px;
}

.active #switchButton {
  float: right;
} 

.sectionWrap {
  margin: 20px 0;
  border-top: 1px dotted #AC6CFF;
  position: relative;
  min-height: 70px;
}

.disabled .sectionWrap {
  opacity: 0.5;
  pointer-events: none;
}
  
.sectionTitle {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #AC6CFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: #fff;
  padding: 0 10px;
  position: absolute;
  top: -8px;
}

.sectionCont.colors {
  margin: 30px 5px;
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #2196F3;
  box-shadow: 0 27px 27px 0 rgba(0,0,0,0.15);
}

.checkmark.clicked {
  height: 40px;
  width: 40px;
  top: -5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark.clicked:after {
  display: block;
}

.container .checkmark:after {
  left: 15px;
  top: 10px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sectionCont {
  margin: 30px 0;
}

.modeCont {
  height: 40px;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  letter-spacing: 0.6px;
  line-height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.modeCont.selected {
  background-image: linear-gradient(-270deg, #AD6BFF 0%, #74BCF7 100%);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.15);
  color: #FFFFFF;
}

.modeCont span {
  float: left;
  padding: 10px 0;
}

.modeCont img, .arrowCont img {
  width: 24px;
  height: 24px;
}

span.modeImg { width: 8%; margin-left: 10px; }

span.modeName { width: 45%; }

span.modePower { width: 38%; opacity: 0.8; }

span.modeSelect { width: 5%; }

img.black, .selected img.white {
  display: block;
}

img.white, .selected img.black {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .itemCont {
    margin: 20%;
  }

  .nameCont {
    width: 90px;
    height: 70px;
    padding: 40px 0 0 10px;
    margin-left: 15px;
  }

   .active .nameCont {
    margin: 35px;
    width: 90px;
    /* display: none; */
  }

  .active .nameCont span {
     padding-left: 0;
  }
  
  span.deviceName {
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    padding-left: 0;
  }
  
  span.devicePlace {
    display: none;
  }

  .imageCont {
    top: -15px;
  }

  .active .imageCont {
    right: -20px;
    top: -35px;
  }

  .imageCont img {
    width: 100px;
    height: 100px;
  }

  .active .imageCont img {
      width: 120px;
      height: 120px;
  }

  .arrowCont {
      right: -25px;
      bottom: 20px;
      padding: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  #deviceList {
    width: 40%;
  }

  #deviceListWrap {
    padding-top: 30%;
  }

  #deviceDescWrap {
    padding: 10% 3%;
  }

  .itemCont {
    margin: 25% 10%;
  }

  .nameCont {
    width: 85%;
    margin: 15%;
  }

  .active .nameCont {
    margin: 2%;
    width: 85%;
    /* display: none; */
  }

  .active .imageCont {
    right: -25px;
    top: -25px;
  }

  .active .imageCont img {
    width: 110px;
    height: 110px;
  }

  .arrowCont {
    right: -35px;
  }

  span.modeImg {
    width: 30%;
  }

  span.modeName {
    width: 50%;
  }

  span.modePower {
    display: none;
  }

  #deviceName {
    font-size: 18px;
  }

  #switchCont {
    padding: 4px;
    width: 28px;
    height: 12px;
  }

  #switchButton {
    height: 13px;
    width: 13px;
  }

  .sectionTitle {
    font-size: 10px;
    top: -7px;
  }

  .checkmark.clicked {
    height: 35px;
    width: 35px;
  }

  .container .checkmark:after {
    left: 13px;
    top: 7px;
  }

  #plusCont {
    padding: 0;
  }

  .indensity {
    text-align: center;
  }
}